services:
  radiusdesk:
    build:
      context: ./
      dockerfile: Dockerfile-build-radiusdesk
    environment:
      - "PHP_INI_SCAN_DIR=:/p/gd"
      - "PHP.cgi.fix_pathinfo=1"
      - "PHP_SELF=/index.php"
      - "PHP_INI_SCAN_DIR=:/p/sqlite3"
    restart: unless-stopped
    depends_on:
      - rdmariadb
    ports:
      - "80:80"
      - "1812:1812/udp"
      - "1813:1813/udp"

  rdmariadb:
    image: bitnami/mariadb:10.11
    restart: unless-stopped
    environment:
      - "ALLOW_EMPTY_PASSWORD=no"
      - "MARIADB_ROOT_PASSWORD=rdroot"
      - "MARIADB_USER=rd"
      - "MARIADB_PASSWORD=rd"
      - "MARIADB_DATABASE=rd"
    volumes:
      - ./db_conf/my_custom.cnf:/opt/bitnami/mariadb/conf/my_custom.cnf:ro
      - ./db_startup:/tmp
      - rd_data:/bitnami/mariadb

volumes:
  rd_data:
