services:
  radiusdesk:
    build:
      context: ./docker
      dockerfile: Dockerfile-build-radiusdesk
    restart: unless-stopped
    depends_on:
      - rdmariadb
    ports:
      - "80:80"
      - "1812:1812/udp"
      - "1813:1813/udp"

  rdmariadb:
    image: bitnami/mariadb:10.11
    restart: unless-stopped
    environment:
      - "ALLOW_EMPTY_PASSWORD=no"
      - "MARIADB_ROOT_PASSWORD=rdroot"
      - "MARIADB_USER=rd"
      - "MARIADB_PASSWORD=rd"
      - "MARIADB_DATABASE=rd"
    volumes:
      - ./docker/db_conf/my_custom.cnf:/opt/bitnami/mariadb/conf/my_custom.cnf:ro
      - ./docker/db_startup:/tmp
      - rd_data:/bitnami/mariadb

volumes:
  rd_data:
